<div align="justify">

<p>&nbsp;&nbsp;Эти условия лицензии являются соглашением между компанией OkBit.ru (или одним из ее аффилированных лиц, в зависимости от места вашего проживания) и вами. Пожалуйста, прочтите их. Они применяются к вышеуказанному программному обеспечению, включая носители (при наличии), на которых вы его приобрели. Эти условия распространяются также на любые предоставляемые OkBit.ru
последующие версии программного обеспечения (включая любые обновления и дополнения), обновления, дополнения, службы Интернета и услуги по технической поддержке для данного программного обеспечения, если эти элементы не сопровождаются другими условиями. Если другие условия прилагаются, то именно они регулируют использование таких элементов.</p>

<p>&nbsp;&nbsp;Используя это программное обеспечение, вы тем самым подтверждаете свое согласие соблюдать данные условия. Если вы не согласны, не используйте это программное обеспечение. </p>

<p>&nbsp;&nbsp;Как описано ниже, установка или использование этого программного обеспечения также означают ваше согласие на передачу определенной стандартной информации с вашего компьютера во время проверки, автоматического скачивания и установки некоторых обновлений и работы служб Интернета.</p>

<p>&nbsp;&nbsp;При соблюдении этих условий лицензии вам будут предоставлены указанные ниже права.</p>

<p align="left">&nbsp;&nbsp;1. ПРАВА НА УСТАНОВКУ И ИСПОЛЬЗОВАНИЕ</p>

<p>&nbsp;&nbsp;Программное обеспечение не может использоваться на устройствах, принадлежащих правительственным организациям или учебным заведениям.
Разделение компонентов. Компоненты программного обеспечения лицензируются как единое целое. Вы не можете разделить компоненты и установить их на различных устройствах.
Включенные программы OkBit.ru. Данное программное обеспечение может содержать другие программы OkBit.ru. Условия лицензии этих программ распространяются на их использование. 

</p><p align="left">&nbsp;&nbsp;2. ИНТЕРНЕТ-СЛУЖБЫ.
</p><p>&nbsp;&nbsp; Вместе с программным обеспечением OkBit.ru предоставляет доступ к интернет-службам. Она может в любое время изменить или прекратить их работу.

</p><p>&nbsp;&nbsp;Согласие на сбор информации для интернет-служб. Компоненты программного обеспечения, описанные ниже подключаются к компьютерным системам OkBit.ru или поставщика услуг через Интернет. Для корректноой работы программмного обеспечения необходимо обеспечить устойчивый канал Интернена на устройстве на котором установлен данный программный продукт. В случае невозможности предоставить стабильный канал связи с Интернет компание OkBit.ru не несет ответсвенности за неккоректную работу ПО, во время создания сценн. Используя эти компоненты, вы даете согласие на передачу ниже указзаных сведений сведений. Компания OkBit.ru не использует эти сведения для установления вашей личности. 

</p><p>&nbsp;&nbsp;2.1. Сведения о компьютере. В перечисленных ниже компонентах используются протоколы Интернета, по которым в соответствующие системы передаются такие сведения о компьютере, как IP-адрес, тип операционной системы и браузера, название и версия используемого вами программного обеспечения, а также код языка устройства, на котором установлено программное обеспечение. OkBit.ru использует эту информацию, чтобы предоставить вам доступ к службам Интернета.
</p><p>&nbsp;&nbsp;Обновления. Все обнавления происходять в ручном режиме.

</p><p>&nbsp;&nbsp;2.2. Использование информации. Мы можем использовать сведения о компьютере, отчеты об ошибках, данные программы улучшения качества программного обеспечения, чтобы совершенствовать свои программы и службы. Мы также можем передавать эти сведения третьим лицам, например официальным представителям у которых вы преобрели данное программного обеспечения. Они могут использовать эти сведения для улучшения работы своих сервисов с программным обеспечением OkBit.ru.

</p><p align="left">&nbsp;&nbsp;3. ОБЛАСТЬ ДЕЙСТВИЯ ЛИЦЕНЗИИ.
</p><p>&nbsp;&nbsp;Это программное обеспечение лицензируется, а не продается. Это соглашение дает вам только некоторые права на использование программного обеспечения. Коомпания OkBit.ru оставляет за собой все остальные права. За исключением случаев, когда применимое законодательство дает вам больше прав, несмотря на данное ограничение, вы можете использовать программное обеспечение только таким образом, как это прямо разрешено условиями настоящего соглашения. При этом вы должны соблюдать все технические ограничения, предусмотренные в программном обеспечении, которые допускают его использование только определенным образом. Вы не имеете права:

</p><p align="left">&nbsp;&nbsp;- изменение кода ПО;
</p><p align="left">&nbsp;&nbsp;- обходить технические ограничения приложения;
</p><p align="left">&nbsp;&nbsp;- изучать технологию, декомпилировать или деассемблировать программное обеспечение, если это прямо не разрешено применимым правом, несмотря на данное ограничение;
</p><p align="left">&nbsp;&nbsp;- создавать больше копий программного обеспечения, чем указано в этом соглашении или разрешено применимым законодательством, несмотря на данное ограничение;
</p><p align="left">&nbsp;&nbsp;- публиковать программное обеспечение, предоставляя другим лицам возможность его скопировать;
</p><p align="left">&nbsp;&nbsp;- предоставлять программное обеспечение в прокат, в аренду или во временное пользование;
</p><p align="left">&nbsp;&nbsp;- передавать программное обеспечение или права по данному соглашению третьим лицам или 
</p><p align="left">&nbsp;&nbsp;- использовать программное обеспечение для предоставления сетевых услуг на коммерческой основе.

</p><p>&nbsp;&nbsp;В случае изменения кода ПО систима может заблокировать действие продукта и лицензии в автоматическом режиме. 

</p><p align="left">&nbsp;&nbsp;4. РЕЗЕРВНАЯ КОПИЯ.
</p><p>Вы можете сделать одну резервную копию данного программного обеспечения. Вы имеете право использовать ее только для переустановки программного обеспечения. 

</p><p align="left">&nbsp;&nbsp;5. ДОКУМЕНТАЦИЯ. 
</p><p>&nbsp;&nbsp;Любое лицо, имеющее доступ к вашему компьютеру или внутренней сети, может копировать и использовать документацию для внутренней справки.

</p><p align="left">&nbsp;&nbsp;6. ПЕРЕДАЧА НА ДРУГОЕ УСТРОЙСТВО.
</p><p>&nbsp;&nbsp; Вы можете удалить программное обеспечение и установить его на другое устройство для личного использования. Вы не можете сделать это, чтобы поделиться этой лицензией между устройствами.

</p><p align="left">&nbsp;&nbsp;8. ТЕХНИЧЕСКАЯ ПОДДЕРЖКА.
</p><p>&nbsp;&nbsp; Так как это программное обеспечение предоставляется "как есть", мы можем не предоставлять для него поддержку. 

</p><p align="left">&nbsp;&nbsp;9. ПОЛНОТА СОГЛАШЕНИЯ. Настоящее соглашение, а также условия использования дополнительных компонентов, обновлений, служб Интернета и поддержки составляют полное соглашение по программному обеспечению и поддержке.


</p><p align="left">&nbsp;&nbsp;11. ЮРИДИЧЕСКАЯ СИЛА. 
</p><p>&nbsp;&nbsp;Настоящее соглашение устанавливает определенные юридические права. Вы можете иметь дополнительные права в соответствии с законодательством вашей страны. Вы также можете иметь права в отношении лица, у которого вы приобрели программное обеспечение. Это соглашение не меняет ваших прав, предусмотренных законодательством вашей страны, если это не допускается законодательством вашей страны.

</p><p align="left">&nbsp;&nbsp; 12. ОТКАЗ ОТ ПРЕДОСТАВЛЕНИЯ ГАРАНТИЙ. 
</p><p>&nbsp;&nbsp;Программное обеспечение предоставляется "как есть". Вы несете все риски, связанные с его использованием. Компания OkBit.ru не предоставляет никаких явно выраженных гарантий и условий. У вас могут быть дополнительные права согласно вашему местному законодательству, которые это соглашение не может изменить. В степени, допускаемой местным законодательством, OkBit.ru исключает подразумеваемые гарантии пригодности для продажи, применимости для конкретной цели и ненарушения прав на интеллектуальную собственность. 

</p><p align="left">&nbsp;&nbsp;ОГРАНИЧЕНИЕ И ИСКЛЮЧЕНИЕ КОМПЕНСАЦИИ И ОТВЕТСТВЕННОСТИ ЗА УБЫТКИ И УЩЕРБ.
</p><p>&nbsp;&nbsp; Вы можете взыскать с корпорации OkBit.ru и ее поставщиков только прямые убытки в пределах 3 Евро. Вы не можете взыскать никакие другие убытки, включая косвенные, специальные, опосредованные или случайные убытки, а также убытки в связи с упущенной выгодой. 
</p><p>&nbsp;&nbsp;Это ограничение распространяется на следующее:

</p><p>&nbsp;&nbsp;любые вопросы, связанные с программным обеспечением, службами и содержимым веб-сайтов третьих лиц (включая код), а также с программами третьих лиц;
</p><p>&nbsp;&nbsp;претензии в связи с нарушением условий контракта, гарантии или других условий, строгой ответственностью, небрежностью или другим гражданским правонарушением, насколько это допускается применимым законодательством.
</p><p>&nbsp;&nbsp;Эти ограничения действуют, даже если в OkBit.ru было известно или должно было быть известно о возможности возникновения таких убытков. Указанные выше ограничения и исключения могут к вам не относиться, если законодательство вашей страны не допускает исключения или ограничения ответственности за случайные, косвенные или другие убытки и ущерб.

</p><p>&nbsp;&nbsp;Регистрируя данный продукт вы соглашаетесь с условиями данной лицензии

</div>