	[#if ID!=""#]
			[#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
			<ul class="nav nav-tabs">
				<li[#if TAB=""#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab="><#LANG_GENERAL#></a>
				</li>
				<li[#if TAB="data"#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data">Элементы сцены</a>
				</li>
				<li[#if TAB="data_else"#] class="active"[#endif#]>
				<a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=data_else">Дополнительно</a>				
				</li>
			</ul>
			&nbsp;<br/>
	
	[#endif ID#]


<!-- Table s_okbit edit  -->
	
[#if TAB=""#]
	<script type="text/javascript" src="/templates/scenes_okbit/js/ajax.js"></script>
	<script type="text/javascript" src="/templates/scenes_okbit/js/chained.js"></script>





	<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
		[#if OK#]
		<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
		[#endif OK#]
		
		[#if ERR#]
		<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
		[#endif ERR#]
		
		<fieldset>
			[#if ID=""#]
			<legend>Создать сцену</legend>
			[#endif ID#]
			
			
			[#if ID!=""#]
			<div class="form-group">
				<label class="col-lg-3 control-label">
				</label>
				<div class="col-lg-4">
					<input type="hidden" name="templates" value="<#TEMPLATE#>">
					<img src="[#TEMPLATE_IMG#]"  width="200" height="120">
				</div>
			</div>
			[#endif ID#]

			<div class="form-group">
				<label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
					Название(*):
				</label>
				<div class="col-lg-4 "><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title">
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-3 control-label">
					Приоритет:
				</label>
				<div class="col-lg-4"><input type="text" class="form-control" name="priority" value="[#PRIORITY#]" id="priority"></div>
			</div>
			
			[#if ID=""#]
			<div class="form-group">
				<label class="col-lg-3 control-label"[#if ERR_TYPE_S#] style="color:red;font-weight:bold"[#endif#]>
					Шаблон (*):
				</label>
				<div class="col-lg-4">
					<select name="templates" id="template" onchange="getTemplateCodeList(this)" class="form-control">
						<option value='' ></option>
						[#TEMPLATE_SEARH#]
					</select>
				</div>
			</div>
			
			[#else ID#]
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Шаблон:
				</label>
				<div class="col-lg-4">
					<input type="hidden" name="templates" value="<#TEMPLATE#>">
					<b>[#TEMPLATE#]</b>
				</div>
				
			</div>
			
			[#endif ID#]
			
					<div class="form-group">
				<label class="col-lg-3 control-label"[#if ERR_TEMPLATE_CSS#] style="color:red;font-weight:bold"[#endif#]>
					Стиль (*):
				</label>
				<div class="col-lg-4">
					<select name="template_css" id="template_css" class="form-control">
						<option value='' ></option>
						[#TEMPLATE_CSS#]
					</select>
				</div>
			</div>
			
		
			
			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-4">
					[#if ID!=""#]
					<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
					[#else ID#]
					<button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
					[#endif ID#]
					<a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_STRING_BACK#></a>
					<input type="hidden" name="id" value="<#ID#>">
					<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
					<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
					<input type="hidden" name="mode" value="update">
					<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
					<input type="hidden" name="tab" value="<#TAB#>">
				</div>
			</div>
			
			
			
		</fieldset>
	</form>
[#endif TAB#]

[#if TAB="data"#]
	[#inc s_okbit_search_el.html#]
[#endif TAB#]
		
[#if TAB="data_else"#]
			
		<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
		[#if OK#]
		<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
		[#endif OK#]
		
		[#if ERR#]
		<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
		[#endif ERR#]
		
		<fieldset>
	
			[#if TYPE_SCENE=="home"#]

			<div class="form-group">
				<label class="control-label">Изображение сцены</label>
				<div class="col-lg-4">
					<input class="form-control" type="text" name="home_img" id="home_img" value="[#HOME_IMG#]" onclick="openFileBrowser('home_img');" size="45">
				</div>
			</div>


			<div class="form-group">
				<label class="col-lg-3 control-label">
					Информация под часами:
				</label>
				<div class="col-lg-4 ">
						<textarea rows="4" cols="45" name="addition" >[#ADDITION#]</textarea>
				</div>
			</div>
			
			
			
			[#endif TYPE_SCENE#]
			
			
			[#if TYPE_SCENE=="room"#]

			<div class="form-group">
				<label class="control-label">Изображение сцены</label>
				<div class="col-lg-4">
					<input class="form-control" type="text" name="home_img" id="home_img" value="[#HOME_IMG#]" onclick="openFileBrowser('home_img');" size="45">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Главная сцена:
				</label>
				<div class="col-lg-4 ">
					<select name="home_scene" id="home_scene" class="form-control">
						<option value='0'></option>
						[#HOME_SCENE#]
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Копировать меню:
				</label>
				<div class="col-lg-4 ">			
					<input type="checkbox" name="clone_menu" id="clone_menu" [#if CLONE_MENU=="1"#] checked [#endif CLONE_MENU#] value="1">
				</div>
			</div>
			
			[#endif TYPE_SCENE#]
			
			
			[#if TYPE_SCENE=="sys"#]
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Главная сцена:
				</label>
				<div class="col-lg-4 ">
					<select name="home_scene" id="home_scene" class="form-control">
						<option value='0'></option>
						[#HOME_SCENE#]
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Копировать меню:
				</label>
				<div class="col-lg-4 ">			
					<input type="checkbox" name="clone_menu" id="clone_menu" [#if CLONE_MENU=="1"#] checked [#endif CLONE_MENU#] value="1">
				</div>
			</div>
			
			[#endif TYPE_SCENE#]
			
	
	
			<div class="form-group">
				<div class="col-lg-offset-3 col-lg-4">
					[#if ID!=""#]
					<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
					[#else ID#]
					<button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
					[#endif ID#]
					<a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_STRING_BACK#></a>
					<input type="hidden" name="id" value="<#ID#>">
					<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
					<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
					<input type="hidden" name="mode" value="update">
					<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
					<input type="hidden" name="tab" value="<#TAB#>">
				</div>
			</div>			
		</fieldset>
	</form>
	
[#endif TAB#]

<!-- / Table s_okbit edit -->