			<div class="form-group">
				<label class="col-lg-3 control-label">
					Oбъект:
				</label>
				<div class="col-lg-4 ">
					<select name="scene_link" id="scene_link" class="form-control">
						<option value='' ></option>
						[#SCENE_LINK#]
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Свойства:
				</label>
				<div class="col-lg-4 ">
					<select name="scene_link" id="scene_link" class="form-control">
						<option value='' ></option>
						[#SCENE_LINK#]
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Метод:
				</label>
				<div class="col-lg-4 ">
					<select name="scene_link" id="scene_link" class="form-control">
						<option value='' ></option>
						[#SCENE_LINK#]
					</select>
				</div>
			</div>
			
			
			
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Изображение:
				</label>
				<div class="col-lg-12 ">
					<div class="none-radio">
					[#ICO_IMG#]
					</div>
				</div>
			</div>