			<div class="form-group">
				<label class="col-lg-3 control-label">
					Oбъект:
				</label>
				<div class="col-lg-4 ">
					<input type="text" name="linked_object"  class="form-control" id="linked_object" value="[#LINKED_OBJECT#]">
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Свойства:
				</label>
				<div class="col-lg-4 ">
					<input type="text" name="linked_property"  class="form-control" id="linked_property" value="[#LINKED_PROPERTY#]">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-lg-3 control-label">
					Метод:
				</label>
				<div class="col-lg-4 ">
					<input type="text" name="linked_method" id="linked_method" value="[#LINKED_METHOD#]">
				</div>
			</div>
		
			[#module name="linkedobject" object_field="linked_object" property_field="linked_property" method_field="linked_method" width="300"#]
		